@use '../../styles/variables';

.label {
    .input {
        min-width: 100%;
        height: 40px;
        border-radius: variables.$radius-10;
        border: none;
        outline: 2px solid variables.$grey-1;
        padding-inline: 15px;
        font-size: 1rem;

        &:focus {
            outline-color: variables.$grey-3;
        }
    }
}