@use '../../styles/variables';

.todo-item {
    width: 100%;
    min-height: 40px;
    // background-color: variables.$white;
    border: 1px solid variables.$grey-1;
    border-radius: variables.$radius-10;

    &__inner {
        padding-inline: 15px;
    }
}