$white: white;
$grey-3: #464646;
$grey-2: #9C9C9C;
$grey-1: #D9D9D9;
$grey: #F6F6F6;
$black: black;

$radius-10: 10px;

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}