@use '../../styles/variables';

.main {
    width: 560px;
    height: calc(100% - 96.8px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background: variables.$grey;
    padding: 20px;
    border-radius: variables.$radius-10;
    margin-bottom: 20px;
}