@use '../../styles/variables';

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .headling {
        font-size: 5rem;
        font-weight: 400;
        color: variables.$grey-2;
    }
}