@use '../../../styles/variables';

.label {
    position: relative;
    @extend %flex-between;
    min-width: 100%;
    height: 40px;
    border-radius: variables.$radius-10;
    border: none;
    outline: 2px solid variables.$grey-1;
    padding-inline: 15px;
    background: variables.$white;

    &:focus-within {
        outline-color: variables.$grey-3;

        .close {
            visibility: visible;
        }
    }

    .input {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        font-size: 1rem;
    }

    .close {
        visibility: hidden;

        &:focus {
            outline: none;
        }
    }

    .error-message {
        margin: 5px 0 0 15px;
        font-size: 14px;
        color: red;
    }
}