@use '../../styles/variables';

.items-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background: variables.$white;
    border-radius: variables.$radius-10;
    overflow-y: auto;
    overflow-x: hidden;

    &__inner {
        position: absolute;
        width: 100%;
        min-height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}