@use '../../styles/variables';

.button {
    border: none;
    background: none;
    @extend %flex-center;
    column-gap: 10px;
    cursor: pointer;
    font-family: 'inter', sans-serif;

    &:focus-visible {
        outline: 2px solid variables.$grey-2;
        outline-offset: 2px;
    }
}